<!doctype html>

<html lang="pt-br">
<head>
  <meta charset="utf-8">
  <title>FisioMi - Agendamento</title>
  <script src="socket.io/socket.io.js"></script>
  <meta name="description" content="FisioMi - Agendamentos">
  <meta name="author" content="JSagon">
  <link rel="icon" href="/public/images/logoIco.png" type="image/png">
  {{!-- <link rel="shortcut icon" href="/img/favicon.ico" type="image/x-icon"> --}}
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800" />
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Poppins:wght@400;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/public/style.css">
</head>
<body>
  <main class="container">
    {{{body}}} 
  </main>
</body>
<script>
const socket = io.connect()
socket.on('reloadPage', () => {
    window.location.reload()
})

// Passar e receber chamadas do socket.io
function returnName(id, horario, dia){
    const nomeEvent = document.getElementById("nomeEvent"+id)
    const pacienteFixo = document.getElementById("pacienteFixo"+id)
    ocuparSala(id,nomeEvent.value,horario, dia, pacienteFixo.value)
}
function ocuparSala(id,nome, horario, dia, fixo){
    socket.emit('ocuparSala',id,nome, horario, dia, fixo)
}
async function desocuparSalaSegunda(id,nome, horario, dia){
    if(dia != undefined){
        await socket.emit('desocuparSalaSegunda',id,nome, horario, dia)
    }
}
async function desocuparSalaTerca(id,nome, horario, dia){
    if(dia != undefined){
        await socket.emit('desocuparSalaTerca',id,nome, horario, dia)
    }
}
async function desocuparSalaQuarta(id,nome, horario, dia){
    if(dia != undefined){
        await socket.emit('desocuparSalaQuarta',id,nome, horario, dia)
    }
}
async function desocuparSalaQuinta(id,nome, horario, dia){
    if(dia != undefined){
        await socket.emit('desocuparSalaQuinta',id,nome, horario, dia)
    }
}
async function desocuparSalaSexta(id,nome, horario, dia){
    if(dia != undefined){
        await socket.emit('desocuparSalaSexta',id,nome, horario, dia)
    }
}

// Mudar dia header mobile
function headerSelectedMobile(selected){
document.getElementById('modalHeader').classList.add('notDisplay')
const daysOfWeek = ["SegundaMobile", "TercaMobile", "QuartaMobile", "QuintaMobile", "SextaMobile"];
let selectedDay = document.getElementById("selectedDay");

for (const day of daysOfWeek) {
    const element = document.getElementById(day);
    element.style.color = ''
    if( day == selected){
        element.style.color = '#0C5202'
    }

}
if(selected == "SegundaMobile"){
        socket.emit('historicoSegunda')
        socket.on('alterarFrontSegunda', (id,nome, horario, dia, fixo) => {
            let newFixo = ''
            if(fixo == 0){
                newFixo = 'Não'
            }else{
                newFixo = 'Sim'
            }
            document.getElementById('wrapperContainerSala'+id).style.backgroundColor = '#0C5202'
            document.getElementById('wrapperContainerSala'+id).innerHTML = `
            <p class="horarioFonte">Horário: ${horario}</p>
            <p class="horarioFonte">Paciente Fixo: ${newFixo}</p>
            <p class="ocupadaPor">Ocupada por: ${nome}</p>
            <button class="desocuparSalaButton" onclick="desocuparSalaSegunda('${id}', '${nome}', '${horario}', '${dia}')">Desocupar Sala</button>
            `
        })
        selectedDay.innerHTML = `
        <div class="salaDiv">
            <h2>Sala 1</h2>
            <div class="wrapperHorariosOcupados">
                {{#each arraySalas1Segunda}}
                    {{> salaContainer}}
                {{/each}}
            </div>
        </div> 
        <div class="salaDiv">
            <h2>Sala 2</h2>
            <div class="wrapperHorariosOcupados">
                {{#each arraySalas2Segunda}}
                    {{> salaContainer}}
                {{/each}}
            </div>
        </div> 
        <div class="salaDiv">
            <h2>Sala 3</h2>
            <div class="wrapperHorariosOcupados">
                {{#each arraySalas3Segunda}}
                    {{> salaContainer}}
                {{/each}}
            </div>
        </div> 
        `

    }else if(selected == "TercaMobile"){
        socket.emit('historicoTerca')
        socket.on('alterarFrontTerca', (id,nome, horario, dia, fixo) => {
            let newFixo = ''
            if(fixo == 0){
                newFixo = 'Não'
            }else{
                newFixo = 'Sim'
            }
            document.getElementById('wrapperContainerSala'+id).style.backgroundColor = '#0C5202'
            document.getElementById('wrapperContainerSala'+id).innerHTML = `
            <p class="horarioFonte">Horário: ${horario}</p>
            <p class="horarioFonte">Paciente Fixo: ${newFixo}</p>
            <p class="ocupadaPor">Ocupada por: ${nome}</p>
            <button class="desocuparSalaButton" onclick="desocuparSalaTerca('${id}', '${nome}', '${horario}', '${dia}')">Desocupar Sala</button>
            `
        })
        selectedDay.innerHTML = `
        <div class="salaDiv">
            <h2>Sala 1</h2>
            <div class="wrapperHorariosOcupados">
                {{#each arraySalas1Terca}}
                    {{> salaContainer}}
                {{/each}}
            </div>
        </div> 
        <div class="salaDiv">
            <h2>Sala 2</h2>
            <div class="wrapperHorariosOcupados">
                {{#each arraySalas2Terca}}
                    {{> salaContainer}}
                {{/each}}
            </div>
        </div> 
        <div class="salaDiv">
            <h2>Sala 3</h2>
            <div class="wrapperHorariosOcupados">
                {{#each arraySalas3Terca}}
                    {{> salaContainer}}
                {{/each}}
            </div>
        </div> 
        `

    }else if(selected == "QuartaMobile"){
        socket.emit('historicoQuarta')
        socket.on('alterarFrontQuarta', (id,nome, horario, dia, fixo) => {
            let newFixo = ''
            if(fixo == 0){
                newFixo = 'Não'
            }else{
                newFixo = 'Sim'
            }
            document.getElementById('wrapperContainerSala'+id).style.backgroundColor = '#0C5202'
            document.getElementById('wrapperContainerSala'+id).innerHTML = `
            <p class="horarioFonte">Horário: ${horario}</p>
            <p class="horarioFonte">Paciente Fixo: ${newFixo}</p>
            <p class="ocupadaPor">Ocupada por: ${nome}</p>
            <button class="desocuparSalaButton" onclick="desocuparSalaQuarta('${id}', '${nome}', '${horario}', '${dia}')">Desocupar Sala</button>
            `
        })
        selectedDay.innerHTML = `
        <div class="salaDiv">
            <h2>Sala 1</h2>
            <div class="wrapperHorariosOcupados">
                {{#each arraySalas1Quarta}}
                    {{> salaContainer}}
                {{/each}}
            </div>
        </div> 
        <div class="salaDiv">
            <h2>Sala 2</h2>
            <div class="wrapperHorariosOcupados">
                {{#each arraySalas2Quarta}}
                    {{> salaContainer}}
                {{/each}}
            </div>
        </div> 
        <div class="salaDiv">
            <h2>Sala 3</h2>
            <div class="wrapperHorariosOcupados">
                {{#each arraySalas3Quarta}}
                    {{> salaContainer}}
                {{/each}}
            </div>
        </div> 
        `

    }else if(selected == "QuintaMobile"){
        socket.emit('historicoQuinta')
        socket.on('alterarFrontQuinta', (id,nome, horario, dia, fixo) => {
            let newFixo = ''
            if(fixo == 0){
                newFixo = 'Não'
            }else{
                newFixo = 'Sim'
            }
            document.getElementById('wrapperContainerSala'+id).style.backgroundColor = '#0C5202'
            document.getElementById('wrapperContainerSala'+id).innerHTML = `
            <p class="horarioFonte">Horário: ${horario}</p>
            <p class="horarioFonte">Paciente Fixo: ${newFixo}</p>
            <p class="ocupadaPor">Ocupada por: ${nome}</p>
            <button class="desocuparSalaButton" onclick="desocuparSalaQuinta('${id}', '${nome}', '${horario}', '${dia}')">Desocupar Sala</button>
            `
        })
        selectedDay.innerHTML = `
        <div class="salaDiv">
            <h2>Sala 1</h2>
            <div class="wrapperHorariosOcupados">
                {{#each arraySalas1Quinta}}
                    {{> salaContainer}}
                {{/each}}
            </div>
        </div> 
        <div class="salaDiv">
            <h2>Sala 2</h2>
            <div class="wrapperHorariosOcupados">
                {{#each arraySalas2Quinta}}
                    {{> salaContainer}}
                {{/each}}
            </div>
        </div> 
        <div class="salaDiv">
            <h2>Sala 3</h2>
            <div class="wrapperHorariosOcupados">
                {{#each arraySalas3Quinta}}
                    {{> salaContainer}}
                {{/each}}
            </div>
        </div> 
        `

    }else if(selected == "SextaMobile"){
        socket.emit('historicoSexta')
        socket.on('alterarFrontSexta', (id,nome, horario, dia, fixo) => {
            let newFixo = ''
            if(fixo == 0){
                newFixo = 'Não'
            }else{
                newFixo = 'Sim'
            }
            document.getElementById('wrapperContainerSala'+id).style.backgroundColor = '#0C5202'
            document.getElementById('wrapperContainerSala'+id).innerHTML = `
            <p class="horarioFonte">Horário: ${horario}</p>
            <p class="horarioFonte">Paciente Fixo: ${newFixo}</p>
            <p class="ocupadaPor">Ocupada por: ${nome}</p>
            <button class="desocuparSalaButton" onclick="desocuparSalaSexta('${id}', '${nome}', '${horario}', '${dia}')">Desocupar Sala</button>
            `
        })
        selectedDay.innerHTML = `
        <div class="salaDiv">
            <h2>Sala 1</h2>
            <div class="wrapperHorariosOcupados">
                {{#each arraySalas1Sexta}}
                    {{> salaContainer}}
                {{/each}}
            </div>
        </div> 
        <div class="salaDiv">
            <h2>Sala 2</h2>
            <div class="wrapperHorariosOcupados">
                {{#each arraySalas2Sexta}}
                    {{> salaContainer}}
                {{/each}}
            </div>
        </div> 
        <div class="salaDiv">
            <h2>Sala 3</h2>
            <div class="wrapperHorariosOcupados">
                {{#each arraySalas3Sexta}}
                    {{> salaContainer}}
                {{/each}}
            </div>
        </div> 
        `

    }
}

// Mudar dia no header
function headerSelected(selected){
const daysOfWeek = ["Segunda", "Terca", "Quarta", "Quinta", "Sexta"];
let selectedDay = document.getElementById("selectedDay");

for (const day of daysOfWeek) {
    const element = document.getElementById(day);
    element.style.color = ''
    if( day == selected){
        element.style.color = '#0C5202'
    }

}
if(selected == "Segunda"){
        socket.emit('historicoSegunda')
        socket.on('alterarFrontSegunda', (id,nome, horario, dia, fixo) => {
            let newFixo = ''
            if(fixo == 0){
                newFixo = 'Não'
            }else{
                newFixo = 'Sim'
            }
            document.getElementById('wrapperContainerSala'+id).style.backgroundColor = '#0C5202'
            document.getElementById('wrapperContainerSala'+id).innerHTML = `
            <p class="horarioFonte">Horário: ${horario}</p>
            <p class="horarioFonte">Paciente Fixo: ${newFixo}</p>
            <p class="ocupadaPor">Ocupada por: ${nome}</p>
            <button class="desocuparSalaButton" onclick="desocuparSalaSegunda('${id}', '${nome}', '${horario}', '${dia}')">Desocupar Sala</button>
            `
        })
        selectedDay.innerHTML = `
        <div class="salaDiv">
            <h2>Sala 1</h2>
            <div class="wrapperHorariosOcupados">
                {{#each arraySalas1Segunda}}
                    {{> salaContainer}}
                {{/each}}
            </div>
        </div> 
        <div class="salaDiv">
            <h2>Sala 2</h2>
            <div class="wrapperHorariosOcupados">
                {{#each arraySalas2Segunda}}
                    {{> salaContainer}}
                {{/each}}
            </div>
        </div> 
        <div class="salaDiv">
            <h2>Sala 3</h2>
            <div class="wrapperHorariosOcupados">
                {{#each arraySalas3Segunda}}
                    {{> salaContainer}}
                {{/each}}
            </div>
        </div> 
        `

    }else if(selected == "Terca"){
        socket.emit('historicoTerca')
        socket.on('alterarFrontTerca', (id,nome, horario, dia, fixo) => {
            let newFixo = ''
            if(fixo == 0){
                newFixo = 'Não'
            }else{
                newFixo = 'Sim'
            }
            document.getElementById('wrapperContainerSala'+id).style.backgroundColor = '#0C5202'
            document.getElementById('wrapperContainerSala'+id).innerHTML = `
            <p class="horarioFonte">Horário: ${horario}</p>
            <p class="horarioFonte">Paciente Fixo: ${newFixo}</p>
            <p class="ocupadaPor">Ocupada por: ${nome}</p>
            <button class="desocuparSalaButton" onclick="desocuparSalaTerca('${id}', '${nome}', '${horario}', '${dia}')">Desocupar Sala</button>
            `
        })
        selectedDay.innerHTML = `
        <div class="salaDiv">
            <h2>Sala 1</h2>
            <div class="wrapperHorariosOcupados">
                {{#each arraySalas1Terca}}
                    {{> salaContainer}}
                {{/each}}
            </div>
        </div> 
        <div class="salaDiv">
            <h2>Sala 2</h2>
            <div class="wrapperHorariosOcupados">
                {{#each arraySalas2Terca}}
                    {{> salaContainer}}
                {{/each}}
            </div>
        </div> 
        <div class="salaDiv">
            <h2>Sala 3</h2>
            <div class="wrapperHorariosOcupados">
                {{#each arraySalas3Terca}}
                    {{> salaContainer}}
                {{/each}}
            </div>
        </div> 
        `

    }else if(selected == "Quarta"){
        socket.emit('historicoQuarta')
        socket.on('alterarFrontQuarta', (id,nome, horario, dia, fixo) => {
            let newFixo = ''
            if(fixo == 0){
                newFixo = 'Não'
            }else{
                newFixo = 'Sim'
            }
            document.getElementById('wrapperContainerSala'+id).style.backgroundColor = '#0C5202'
            document.getElementById('wrapperContainerSala'+id).innerHTML = `
            <p class="horarioFonte">Horário: ${horario}</p>
            <p class="horarioFonte">Paciente Fixo: ${newFixo}</p>
            <p class="ocupadaPor">Ocupada por: ${nome}</p>
            <button class="desocuparSalaButton" onclick="desocuparSalaQuarta('${id}', '${nome}', '${horario}', '${dia}')">Desocupar Sala</button>
            `
        })
        selectedDay.innerHTML = `
        <div class="salaDiv">
            <h2>Sala 1</h2>
            <div class="wrapperHorariosOcupados">
                {{#each arraySalas1Quarta}}
                    {{> salaContainer}}
                {{/each}}
            </div>
        </div> 
        <div class="salaDiv">
            <h2>Sala 2</h2>
            <div class="wrapperHorariosOcupados">
                {{#each arraySalas2Quarta}}
                    {{> salaContainer}}
                {{/each}}
            </div>
        </div> 
        <div class="salaDiv">
            <h2>Sala 3</h2>
            <div class="wrapperHorariosOcupados">
                {{#each arraySalas3Quarta}}
                    {{> salaContainer}}
                {{/each}}
            </div>
        </div> 
        `

    }else if(selected == "Quinta"){
        socket.emit('historicoQuinta')
        socket.on('alterarFrontQuinta', (id,nome, horario, dia, fixo) => {
            let newFixo = ''
            if(fixo == 0){
                newFixo = 'Não'
            }else{
                newFixo = 'Sim'
            }
            document.getElementById('wrapperContainerSala'+id).style.backgroundColor = '#0C5202'
            document.getElementById('wrapperContainerSala'+id).innerHTML = `
            <p class="horarioFonte">Horário: ${horario}</p>
            <p class="horarioFonte">Paciente Fixo: ${newFixo}</p>
            <p class="ocupadaPor">Ocupada por: ${nome}</p>
            <button class="desocuparSalaButton" onclick="desocuparSalaQuinta('${id}', '${nome}', '${horario}', '${dia}')">Desocupar Sala</button>
            `
        })
        selectedDay.innerHTML = `
        <div class="salaDiv">
            <h2>Sala 1</h2>
            <div class="wrapperHorariosOcupados">
                {{#each arraySalas1Quinta}}
                    {{> salaContainer}}
                {{/each}}
            </div>
        </div> 
        <div class="salaDiv">
            <h2>Sala 2</h2>
            <div class="wrapperHorariosOcupados">
                {{#each arraySalas2Quinta}}
                    {{> salaContainer}}
                {{/each}}
            </div>
        </div> 
        <div class="salaDiv">
            <h2>Sala 3</h2>
            <div class="wrapperHorariosOcupados">
                {{#each arraySalas3Quinta}}
                    {{> salaContainer}}
                {{/each}}
            </div>
        </div> 
        `

    }else if(selected == "Sexta"){
        socket.emit('historicoSexta')
        socket.on('alterarFrontSexta', (id,nome, horario, dia, fixo) => {
            let newFixo = ''
            if(fixo == 0){
                newFixo = 'Não'
            }else{
                newFixo = 'Sim'
            }
            document.getElementById('wrapperContainerSala'+id).style.backgroundColor = '#0C5202'
            document.getElementById('wrapperContainerSala'+id).innerHTML = `
            <p class="horarioFonte">Horário: ${horario}</p>
            <p class="horarioFonte">Paciente Fixo: ${newFixo}</p>
            <p class="ocupadaPor">Ocupada por: ${nome}</p>
            <button class="desocuparSalaButton" onclick="desocuparSalaSexta('${id}', '${nome}', '${horario}', '${dia}')">Desocupar Sala</button>
            `
        })
        selectedDay.innerHTML = `
        <div class="salaDiv">
            <h2>Sala 1</h2>
            <div class="wrapperHorariosOcupados">
                {{#each arraySalas1Sexta}}
                    {{> salaContainer}}
                {{/each}}
            </div>
        </div> 
        <div class="salaDiv">
            <h2>Sala 2</h2>
            <div class="wrapperHorariosOcupados">
                {{#each arraySalas2Sexta}}
                    {{> salaContainer}}
                {{/each}}
            </div>
        </div> 
        <div class="salaDiv">
            <h2>Sala 3</h2>
            <div class="wrapperHorariosOcupados">
                {{#each arraySalas3Sexta}}
                    {{> salaContainer}}
                {{/each}}
            </div>
        </div> 
        `

    }
}

// Abrir modal mobile
function showModal(){
    document.getElementById('modalHeader').classList.remove('notDisplay')
}

// Funções para Iniciar
headerSelected('Segunda')
headerSelectedMobile('SegundaMobile')
</script>
</html>