
<main class="wrapperHome">
    {{>header}}
    <section class="salaDivWrapper" id="selectedDay">
    </section>
    {{>footer}}
</main>

<script>


function formatarData(data) {
  var dia = data.getDate();
  var mes = data.getMonth() + 1;
  var ano = data.getFullYear();

  dia = dia < 10 ? '0' + dia : dia;
  mes = mes < 10 ? '0' + mes : mes;

  return dia + '/' + mes + '/' + ano;
}

// Dias da semana
var diasDaSemana = ['Domingo', 'Segunda-feira', 'Terça-feira', 'Quarta-feira', 'Quinta-feira', 'Sexta-feira', 'Sábado'];

// Obter a data atual
var dataAtual = new Date();

// Formatando a data
var dataFormatada = formatarData(dataAtual);

// Obtendo o dia da semana atual
var diaDaSemanaAtual = diasDaSemana[dataAtual.getDay()];

</script>